<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univas.edu.br.bookssearch" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListFetchedBooksActivity" android:label="BooksSearch - Resultados da Busca" ></activity>
        <activity android:name=".ListLikedBooksActivity" android:label="BooksSearch - Favoritados" ></activity>
        <activity android:name=".ListUnlikedBooksActivity" android:label="BooksSearch - Rejeitados" ></activity>
        <activity android:name=".BooksViewPagerActivity" android:label="BooksSearch - teste" ></activity>
    </application>

</manifest>
